<!DOCTYPE html>
<html lang="{{ with .Language }}{{ . }}{{ else }}en-us{{ end }}">
<head>
  <meta charset="utf-8">
  <meta name="referrer" content="same-origin">
  <meta name="robots" content="all,follow">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-title" content="MoodleBox">
  <meta name="application-name" content="MoodleBox">
  <meta name="msapplication-TileColor" content="#ffc40d">
  <meta name="msapplication-config" content="/img/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  <title>{{ block "title" . }}{{ partial "title" . }}{{ end }}</title>
  <!-- OpenGraph metatags -->
  {{ template "_internal/opengraph.html" . }}
  <!-- OpenGraph supplementary metatags -->
  <meta property="og:image" content="{{ .Site.Params.logo | absURL }}" />
  <!-- Standard metatags -->
  <meta name="author" content="{{ .Site.Params.Author }}" />
  {{ if .Keywords -}}
  <meta name="keywords" content="{{ delimit .Keywords ", " }}">
  {{- else if .Site.Params.DefaultKeywords -}}
  <meta name="keywords" content="{{ delimit .Site.Params.DefaultKeywords ", " }}">
  {{- end }}
  <meta name="description" content="{{ partial "description" . }}">
  <link rel="alternate" href="{{ "/index.xml" | absLangURL }}" type="application/rss+xml" title="{{ .Site.Title }}">
  {{ partial "hreflang.html" . }}
  {{ partial "seo-metadata.html" . }}
  <!-- Bootstrap and Font Awesome css -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" rel="stylesheet" crossorigin="anonymous">
  <!-- Custom fonts and styles for this template -->
  {{ if .Site.IsServer }}
    {{ $cssOpts := (dict "enableSourceMap" true ) }}
    {{ $fontAwesomeCSS := resources.Get "css/font-awesome.css" | toCSS $cssOpts }}
    {{ $fontsCSS := resources.Get "css/fonts.css" | toCSS $cssOpts }}
    {{ $moodleboxCSS := resources.Get "css/moodlebox.css" | toCSS $cssOpts }}
    {{ $customCSS := resources.Get "css/custom.css" | toCSS $cssOpts }}
    {{ $animateCSS := resources.Get "css/animate.css" | toCSS $cssOpts }}
    {{ $owlCarouselCSS := resources.Get "css/owl.carousel.css" | toCSS $cssOpts }}
    {{ $owlThemeCSS := resources.Get "css/owl.theme.css" | toCSS $cssOpts }}
    <link href="{{ $fontAwesomeCSS.Permalink }}" rel="stylesheet">
    <link href="{{ $fontsCSS.Permalink }}" rel="stylesheet">
    <link href="{{ $moodleboxCSS.Permalink }}" rel="stylesheet">
    <link href="{{ $customCSS.Permalink }}" rel="stylesheet">
    <link href="{{ $animateCSS.Permalink }}" rel="stylesheet">
    <link href="{{ $owlCarouselCSS.Permalink }}" rel="stylesheet">
    <link href="{{ $owlThemeCSS.Permalink }}" rel="stylesheet">
  {{ else }}
    {{ $cssOpts := (dict "enableSourceMap" false ) }}
    {{ $fontAwesomeCSS := resources.Get "css/font-awesome.css" | toCSS $cssOpts | minify | fingerprint }}
    {{ $fontsCSS := resources.Get "css/fonts.css" | toCSS $cssOpts | minify | fingerprint }}
    {{ $moodleboxCSS := resources.Get "css/moodlebox.css" | toCSS $cssOpts | minify | fingerprint }}
    {{ $customCSS := resources.Get "css/custom.css" | toCSS $cssOpts | minify | fingerprint }}
    {{ $animateCSS := resources.Get "css/animate.css" | toCSS $cssOpts | minify | fingerprint }}
    {{ $owlCarouselCSS := resources.Get "css/owl.carousel.css" | toCSS $cssOpts | minify | fingerprint }}
    {{ $owlThemeCSS := resources.Get "css/owl.theme.css" | toCSS $cssOpts | minify | fingerprint }}
    <link href="{{ $fontAwesomeCSS.Permalink }}" integrity="{{ $fontAwesomeCSS.Data.Integrity }}" rel="stylesheet">
    <link href="{{ $fontsCSS.Permalink }}" integrity="{{ $fontsCSS.Data.Integrity }}" rel="stylesheet">
    <link href="{{ $moodleboxCSS.Permalink }}" integrity="{{ $moodleboxCSS.Data.Integrity }}" rel="stylesheet">
    <link href="{{ $customCSS.Permalink }}" integrity="{{ $customCSS.Data.Integrity }}" rel="stylesheet">
    <link href="{{ $animateCSS.Permalink }}" integrity="{{ $animateCSS.Data.Integrity }}" rel="stylesheet">
    <link href="{{ $owlCarouselCSS.Permalink }}" integrity="{{ $owlCarouselCSS.Data.Integrity }}" rel="stylesheet">
    <link href="{{ $owlThemeCSS.Permalink }}" integrity="{{ $owlThemeCSS.Data.Integrity }}" rel="stylesheet">
  {{ end }}
  <!-- Responsivity for older IE -->
  {{- `<!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->` | safeHTML }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.3.2/lunr.min.js" integrity="sha256-KiZ+fivjMLc24igggadv2WwtneDBS7ZMVFPCdQjlk3Y=" crossorigin="anonymous"></script>
  {{ if .Site.IsServer }}
    {{ $lunrStemmerJS := resources.Get "js/lunr.stemmer.support.js" }}
    <script src="{{ $lunrStemmerJS.Permalink }}"></script>
    {{- if not (eq .Site.Language.Lang "en") }}
      {{ $lunrLangJS := resources.Get (printf "js/lunr.%s.js" (.Language | safeJS)) }}
      <script src="{{ $lunrLangJS.Permalink }}"></script>
    {{ end -}}
  {{ else }}
    {{ $lunrStemmerJS := resources.Get "js/lunr.stemmer.support.js" | minify | fingerprint }}
    <script src="{{ $lunrStemmerJS.Permalink }}" integrity="{{ $lunrStemmerJS.Data.Integrity }}"></script>
    {{- if not (eq .Site.Language.Lang "en") }}
      {{ $lunrLangJS := resources.Get (printf "js/lunr.%s.js" (.Language | safeJS)) | minify | fingerprint }}
      <script src="{{ $lunrLangJS.Permalink }}" integrity="{{ $lunrLangJS.Data.Integrity }}"></script>
    {{ end -}}
  {{ end }}
  <!-- Favicon and various touch icons-->
  <link rel="shortcut icon" href="{{ "img/favicon.ico" | absURL }}" type="image/x-icon" />
  <link rel="apple-touch-icon" href="{{ "img/apple-touch-icon.png" | absURL }}" sizes="180x180">
  <link rel="icon" type="image/png" href="{{ "img/favicon-32x32.png" | absURL }}" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ "img/favicon-16x16.png" | absURL }}" sizes="16x16">
  <link rel="manifest" href="{{ "img/manifest.json" | absURL }}">
  <link rel="mask-icon" href="{{ "img/safari-pinned-tab.svg" | absURL }}" color="#333">
  {{ block "headfiles" . }}
   <!-- pl;aceholder -->
  {{ end }}
</head>
  <body>
    <div id="all">
      {{ block "main" . }}{{ end }}
      {{ block "footer" . }}{{ partial "footer.html" . }}{{ end }}
    </div>  <!-- /#all -->
    {{ block "scripts" . }}{{ partial "scripts.html" . }}{{ end }}
    {{ block "footerfiles" . }}{{ end }}
    {{ block "analytics" . }}{{ partial "matomo_analytics.html" . }}{{ end }}
  </body>
</html>
