<!-- Javascript to load in footer -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha256-U5ZEeKfGNOja007MMD3YBI0A3OSZOQbeG6z2f2Y0hu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js" integrity="sha384-hKAOvu4SRkR5UhOl+rvozhqPNh0VgjTz0sydNTzye3vkV6VzpbLACSgthC2bhXeV" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-parallax/1.1.3/jquery-parallax-min.js" integrity="sha384-HMq0LUtLrpRM2p+YAa9diNQOAIkf3galOKNWNMKYqnH6FngMe5xt9a/g1fYiJghC" crossorigin="anonymous"></script>
{{ if .HasShortcode "gallery" }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.6/jquery.fancybox.min.js" integrity="sha256-x4elcEZhSRoId3IcqTS2aqJqxw+KjquMzEjIbIakFVY=" crossorigin="anonymous"></script>
{{ end }}
{{ if .Site.IsServer }}
  {{ $frontJS := resources.Get "js/front.js" }}
  {{ $moodleboxJS := resources.Get "js/moodlebox.js" }}
  {{ $owlJS := resources.Get "js/owl.carousel.js" }}
  <script src="{{ $frontJS.Permalink }}"></script>
  <script src="{{ $moodleboxJS.Permalink }}"></script>
  <script src="{{ $owlJS.Permalink }}"></script>
{{ else }}
  {{ $frontJS := resources.Get "js/front.js" | minify | fingerprint }}
  {{ $moodleboxJS := resources.Get "js/moodlebox.js" | minify | fingerprint }}
  {{ $owlJS := resources.Get "js/owl.carousel.js" | minify | fingerprint }}
  <script src="{{ $frontJS.Permalink }}" integrity="{{ $frontJS.Data.Integrity }}"></script>
  <script src="{{ $moodleboxJS.Permalink }}" integrity="{{ $moodleboxJS.Data.Integrity }}"></script>
  <script src="{{ $owlJS.Permalink }}" integrity="{{ $owlJS.Data.Integrity }}"></script>
{{ end }}
