  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js" integrity="sha384-hKAOvu4SRkR5UhOl+rvozhqPNh0VgjTz0sydNTzye3vkV6VzpbLACSgthC2bhXeV" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-parallax/1.1.3/jquery-parallax-min.js" integrity="sha384-HMq0LUtLrpRM2p+YAa9diNQOAIkf3galOKNWNMKYqnH6FngMe5xt9a/g1fYiJghC" crossorigin="anonymous"></script>
  <script src="{{ .Site.BaseURL }}js/front.min.js?v={{ now.Unix }}"></script>
  <script src="{{ .Site.BaseURL }}js/moodlebox.min.js?v={{ now.Unix }}"></script>
  <script src="{{ .Site.BaseURL }}js/owl.carousel.min.js?v={{ now.Unix }}"></script>
